$bgColor: #000;
$mainBg: #000235;
$textColor: #fff;
$lineColor: #2b009e;
$lineColor2: #4f4f4f;
$lineColor3: #010101;
$lineColor4: #666666;
$blueColor:#2e009e;
$darkBlue: #20006e;
$lightBlue: #1e00cc;
$pinkColor:#db1277;
$lightPink: #f50099;
$yellowColor: #53ff00;
$darkPink:#5b005e;
$mainFont: 'Muli';
$textHover: #ef3d7a;
$blackColor:#000;